.th {
    background-color: rgb(222, 216, 209);
}

.Table1 {
    font-size: 25px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.Table2 {
    font-size: 25px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.TableName1 {
    margin-top: 80px;
    text-align: center;
}

.TableName2 {
    margin-top: 50px;
    text-align: center;
}

.TableButton {
    padding: 10px 20px;
    background-color: #555555;
    color: #fff;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
    margin-right: 5%;
    font-size: 15px;
}

.item1 {
    text-align: center;
    margin: 0 auto;
}

.item2 {
    text-align: center;
    margin: 0 auto;
}

.item3 {
    width: 55%;
    text-align: center;
    position: absolute;
    top: 1000px;
}

.input1 {
    font-size: 25px;
}

.input2 {
    font-size: 25px;
    width: 60px;
}

.input3 {
    font-size: 25px;
    width: 50px;
}

.input4 {
    font-size: 25px;
    width: 30px;
}

.message {
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
    position: relative;
    padding-left: 25px;
}

.message:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(119, 195, 223);
}

.message:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(119, 195, 223);
}